.col1 {
	background-color: pink;
	color: white;
}
.col2 {
	background-color: blue;
	color: white;
}
.co2 {
	background-color: yellow;
	color: white
}
.co1 {
	background-color: orange;
	color: white;
}