body {
	margin-right: 100px;

}


.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: 600px;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 15px;
}
#tables {
	border: 2px solid black;
	padding: 20px;
	border-radius: 5%;
}
#red {
	border: 5px solid black;
	font-size: 20px;
}
.back {
	color: black;
	font-size: 25px;

}
#graph {
	word-spacing: 2px;
	font: 15px;
	color: #1a1a1a;
	font-weight: bold;
	font-family: 'Fredericka the Great', cursive;
}
#build {
	border: 3px solid grey;
	height: 70px;
	border-radius: 15px;
	background-color: #ff9d26;
	font-size: 20px;
	font-weight: bold;
}
